@import "tailwindcss";

:root {
  --white: #F8F9FE;
  --black: #121212;
}

@theme inline {
  --color-white: var(--white);
  --color-black: var(--black);

  --font-inter: var(--font-inter);
  --font-libre-baskerville: var(--font-libre-baskerville);
}

body {
  background: var(--white);
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
}
